PORT=5000
DB_URL=mongodb+srv://llsstour-management-system:5iejcJen4085hhD3@cluster0.vu9lo.mongodb.net/parcel-delivery-api?retryWrites=true&w=majority&appName=Cluster0
NODE_ENV=development
JWT_ACCESS_SECRET=access_secret
JWT_ACCESS_EXPIRES=1d
JWT_REFRESH_SECRET=JWT_REFRESH_SECRET
JWT_REFRESH_EXPIRES=30d
BCRYPT_SALT_ROUND=10
GOOGLE_CLIENT_SECRET=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xzJx
GOOGLE_CLIENT_ID=685589539897-oruvmumtn0gg04sscqmcfq4e9tehhgqs91u.apps.googleusercontent.com
GOOGLE_CALLBACK_URL=http://localhost:500041/api/v1/auth/google/callback
EXPRESS_SESSION_SECRET=express-sessionsss
FRONTEND_URL=http://localhost:51s

